*.pyc
kimkit/logs/*
*.tmp
*.swp
docs/_build
kimkit/Docs/_build/*
stupid.*
.ropeproject
build/
venv
KIMkit-env
kimkit/default-environment
__pycache__
*.bak
*vscode*
*.edn
editors.txt
test.py
*.egg-info/
kimkit/repository/*
pyproject.toml
KIMkit_kim_api_environment_collection/*
*.DS_Store*
