{
    "kimspec-order" [
        "content-origin" 
        "content-other-locations" 
        "contributor-id" 
        "date" 
        "description" 
        "developer" 
        "disclaimer" 
        "doi" 
        "domain" 
        "executables" 
        "extended-id" 
        "funding" 
        "implementer" 
        "kim-api-version" 
        "kim-item-type" 
        "license" 
        "maintainer-id" 
        "model-driver" 
        "potential-type" 
        "simulator-name" 
        "simulator-potential" 
        "simulator-potential-compatibility" 
        "source-citations" 
        "species" 
        "title" 
        "training"
    ] 
    "kimspec-strings" [
        "content-origin" 
        "content-other-locations" 
        "contributor-id" 
        "date" 
        "description" 
        "disclaimer" 
        "doi" 
        "domain" 
        "extended-id" 
        "kim-api-version" 
        "kim-item-type" 
        "license" 
        "maintainer-id" 
        "model-driver" 
        "potential-type" 
        "simulator-name" 
        "simulator-potential" 
        "title"
    ] 
    "kimspec-uuid-fields" [
        "contributor-id" 
        "developer" 
        "implementer" 
        "maintainer-id"
    ] 
    "kimspec-arrays" {
        "developer" "list" 
        "execuatbles" "list" 
        "funding" "dict" 
        "implementer" "list" 
        "simulator_potential_compatibility" "list" 
        "source-citations" "dict" 
        "species" "list" 
        "training" "list"
    } 
    "kimspec-arrays-dicts" {
        "funding" {
            "funder-name" true 
            "award-number" false 
            "award-uri" false 
            "award-title" false
        } 
        "simulator-potential-compatibility" {
            "simulator-name" true 
            "simulator-potential" true 
            "compatibility" true 
            "compatibility-notes" false
        }
    } 
    "KIMkit-item-type-key-requirements" {
        "portable-model" {
            "required" [
                "description" 
                "developer" 
                "extended-id" 
                "implementer" 
                "kim-api-version" 
                "kim-item-type" 
                "license" 
                "potential-type" 
                "species" 
                "title"
            ] 
            "optional" [
                "content-origin" 
                "content-other-locations" 
                "contributor-id" 
                "disclaimer" 
                "doi" 
                "domain" 
                "executables" 
                "funding" 
                "maintainer-id" 
                "model-driver" 
                "date" 
                "source-citations" 
                "training"
            ]
        } 
        "simulator-model" {
            "required" [
                "description" 
                "developer" 
                "extended-id" 
                "implementer" 
                "kim-api-version" 
                "kim-item-type" 
                "license" 
                "potential-type" 
                "species" 
                "simulator-name" 
                "simulator-potential" 
                "title"
            ] 
            "optional" [
                "content-origin" 
                "content-other-locations" 
                "contributor-id" 
                "disclaimer" 
                "doi" 
                "domain" 
                "executables" 
                "funding" 
                "maintainer-id" 
                "date" 
                "source-citations" 
                "training"
            ]
        } 
        "model-driver" {
            "required" [
                "description" 
                "developer" 
                "extended-id" 
                "implementer" 
                "kim-api-version" 
                "kim-item-type" 
                "license" 
                "title"
            ] 
            "optional" [
                "content-origin" 
                "content-other-locations" 
                "contributor-id" 
                "disclaimer" 
                "doi" 
                "domain" 
                "executables" 
                "funding" 
                "maintainer-id" 
                "date" 
                "simulator-potential-compatibility" 
                "source-citations"
            ]
        }
    }
}
